#comprarArrow{
    width: 150px;
}

.btn-sm{
    padding: 5px;
}

.buscarBtnBuscar{
}

.stepperText{
    text-align: left;
}


.houseFichaBtnVerBtnAgentarContainer{
    margin-right: 30px;
}

/*-----------------------------------------------------------------------------------------*/
/*Elementos de l esteper de la vista comprar*/
@media(max-width: 600px){
    .stepperText{
        max-width: 90%;
    }
    .stepperSubtitle{
        font-size: 15px;
    }
    .calculadoraDividendoContainer{
        max-width: 95%;
    }

    .stepperCardProfile{
        max-width: 80%;
    }

    .stepperCardProfile .cardprofile__photo{
        width: 100%;
    }
}

/*-----------------------------------------------------------------------------------------*/



@media(max-width: 1400px){
    #comprarArrow{
        width: 125px;
    }
}
@media(max-width: 1200px){
    #comprarArrow{
        width: 100px;
    }
}
@media(max-width: 1000px){
    #comprarArrow{
        width: 90px;
    }
    /*Items de la casa (el item de metros cuadrados es el mas grande por lo que le damos mas ancho)*/
    .card__caract__item{
        width: 27%;
        margin: 0;
    }
    .card__caract__itemWide{
        width: 46%;
    }
}
@media(max-width: 900px){
    #comprarArrow{
        width: 90px;
    }
}

@media(max-width: 768px){
    #comprarArrow{
        display: none;
    }
}

@media (max-width: 575px) {
    #bathroom , #room{
        display: block;
        width: 95%;
        margin-left: 2.5%;
        margin-top: 0;
        padding-top: 0;
    }

    #labelRoom , #labelBathroom{
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .slider-tick-label-container{
        height: 40px;
        margin-top: 30px;
    }
    .slider-tick-label{
        margin-top: 30px;
        font-size: 20px;
        font-weight: 600;
    }
}

.buscarSelectUfPesos{
    width: 100%;
}

/*----------------------------*/
/*Vista buscar Cuadros de las casas*/

@media (max-width: 876px) {
    .buscarCasaTitulo{
        font-size: 20px;
    }
    .buscarCasaSegundoTitulo{
        font-size: 15px;
    }
    .buscarCasaPrecioUF{
        font-size: 16px;
    }
    .buscarCasaTarifaTitulo{
        font-size: 11px;
    }
    .buscarCasaTarifaPrecio{
        font-size: 12px;
    }
}
@media (max-width: 754px) {
    .buscarCasaTitulo{
        font-size: 25px;
    }
    .buscarCasaSegundoTitulo{
        font-size: 20px;
    }
    .buscarCasaPrecioUF{
        font-size: 21px;
    }
    .buscarCasaTarifaTitulo{
        font-size: 15px;
    }
    .buscarCasaTarifaPrecio{
        font-size: 14px;
    }
}
@media (max-width: 465px) {
    .buscarCasaTitulo{
        font-size: 18px;
    }
    .buscarCasaSegundoTitulo{
        font-size: 16px;
    }
    .buscarCasaPrecioUF{
        font-size: 19px;
    }
    .buscarCasaTarifaTitulo{
        font-size: 13px;
    }
    .buscarCasaTarifaPrecio{
        font-size: 11px;
    }
}



@media (max-width: 459px) {
    .comprarProfileTitle{
        font-size: 12px;
    }
    .comprarProfileHouse{
        font-size: 10px;
    }
    .comprarProfileOferta{
        font-size: 10px;
    }
    .comprarBtnOfertar{
        font-size: 10px;
    }
}