@media (max-width: 1330px){

}
@media (max-width: 1000px){
    .hideResponsive{
        opacity: 0;
    }
}
@media (max-width: 962px){
    .homeMainTitle{
        font-size: 40px;
    }
}
@media (max-width: 768px){
    .blueBox{
        margin-bottom: 10px;
    }
}
