#loginFormBox{

}


@media (max-width: 600px) {
  /*Esta columna estara desactivada en mobile*/
  #columnInfoLogin{
    display: none;
  }

  #loginFormBox{
    padding: 0;
    margin: 0;
  }
  #loginFormBox{
    width: 100%;
  }

}