
.logoutAndProfilePictureContainer{
  margin-top: 20px;
  text-align: left;
}
#profilePicture{
  width: 50px;
  border-radius: 50px;
}
#profileName{
  font-size: 20px;
  margin-bottom: 0;
  padding: 0;
}

#logoutLink{
  color: red;
  font-size: 12px;
  margin-top: 0;
  padding: 0;
}
.sidebarToolsContainer{
  margin-top: 30px;
}
.sidebarTools{
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.sidebarTools li{
  text-align: left;
}
.sidebarTools li a{
  color: black;
}
.sidebarToolsTextLarge{
  font-size: 13px;
}
.btnSidebarBuscarMasPropiedades{
  background: #262a43;
  font-size: 11px;
  text-align: center;
  width: 150px;
  margin-left: 40px; 
}
.sidebarContent{
  padding-bottom: 100px;
}

/* The sidepanel menu */
@media (max-width: 1200px) {
  .sidepanel {
      width: 0; /* 0 width - change this with JavaScript */
      min-height: 100%;
      position: absolute; /* Stay in place */
      z-index: 4; /* Stay on top */
      top: 0;
      left: 0;
      background-color: #f8f9fa;
      overflow-x: hidden; /* Disable horizontal scroll */
      padding-top: 60px; /* Place content 60px from the top */
      transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    }

    /* The sidepanel links */
    .sidepanel a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      display: block;
      transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
    .sidepanel a:hover {
      color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidepanel .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    /* Style the button that is used to open the sidepanel */
    .openbtn {
      position: relative;
      font-size: 20px;
      cursor: pointer;
      background-color: #f8f9fa;
      color: black;
      padding: 10px 15px;
      border: none;
      width: 100%;
    }
    .sidebarOpenBtnIcon{
        position: absolute;
        top: 10px;
        left: 20px;
        font-size: 40px;
    }

    .openbtn:hover {
      background-color: #dbdbdb;
    }


  /*-----------------------------------------------------------------------*/
  /*Sidebar*/
  .sidebarContent{
      margin-left: 15px;
      margin-right: 15px;
      background-color: #f8f9fa;
      /*Toma automaticamente el width*/
  }

  .sidebarLogo{
      width: 200px;
  }
  .containerLogoSidebar{
      display: block;
      text-align: center;
  }
  .sidebarToolsContainer{
      position: relative;
  }
  .sidebarToolsIconContainer{
      width: 40px;
      font-size: 20px;
      text-align: center;
      position: absolute;
      top: 10px;
  }
  .sidebarToolsListContainer{
  }

  .sidebarTools li{
      font-size: 15px;
      margin: 0;
  }
  .sidebarTools li a{
      font-size: 15px;
      margin: 0;
  }

  .btnSidebar{
    position: relative;
    font-size: 1px;
    text-align: center;
  }

  .mainContent{
    padding-left: 25px;
    padding-right: 25px;
  }

  .btnSidebarBuscarMasPropiedades{
    font-size: 10px !important;
    text-align: center;
    padding: 0px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

}

/*En mobile el boton del sidebar desaparece y aparece el
sidebar todo el tiempo*/
/*Mostramos siempre el sidepanel*/
@media (min-width: 1201px) {
  .sidepanel{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    min-height: 150%;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #f8f9fa;

  }
  .sidebarToolsContainer{
    position: relative;
  }
  .sidebarToolsIconContainer{
    width: 40px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 0px;
  }
  .sidebarToolsListContainer{
    width: 200px;
    margin-left: 40px;
  }

  /*Quitamos el boton del cerrar del sidebar*/
  .closebtn{
    display: none;
  }
  /*Ocultamos el boton del sidebar*/
  .openbtn{
    display: none;
  }

  /*El contenido prinicpal estara a la izquierda del sidepanel*/
  .mainContent{
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*El ancho sera el 100% - el ancho del sidepanel y
    los paddings laterales de este mainContent*/
    width: calc(100% - 290px);
    left: 270px;
  }
}